<h1>{{posts.[0].loggedUser.username}}</h1>

<body>
  

{{#each posts}} 
<div class="postOnProfile">
<div><img src={{this.img}} alt="Image cannot load"></div>
<div>{{this.title}}</div>
<div>{{this.description}}</div>
<div>{{this.artist}}</div>
<div>{{this.area}}</div>
<div>{{this.adress}}</div>
<div>{{this.postBy}}</div>
<div class="deletePostbtn"><a href="/explore/delete/{{this._id}}">DELETE POST</a></div>
</div>
{{/each}}
</body>