<h1 class="nameOfArt">{{posts.[0].loggedUser.username}}</h1>


<body>
  <div>
    {{#each posts}}
    <div class="nameOfArt"> {{this.title}} </div>
    <div class="exploreimg"> <img src={{this.img}} alt=""></div>
    <div class="postsInfo">
      <div class="nameOfArt">{{this.title}}</div>
      <div class="infoExplore">"{{this.description}}". The artist is {{this.artist}}. You can find the work in
        {{this.area}}, {{this.adress}}.</div>
    </div>
    {{/each}}
</body>